name: Add new issues to project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add new issues labeled with enhancement or bug to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.4.0
        with:
          # You can target a repository in a different organization
          # to the issue
          project-url: https://github.com/Wabi-Studios/projects/3
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
          labeled: enhancement, bug
          label-operator: OR
